extends layout

block content
    section#whatis
        h2 What is Simplify Play Button?
        p Some more information here.


    section#generator
        h2 Just let me implement it, already!


        div#generator
            h3 Demonstration


    section#documentation
        h2 Documentation


    section#examples
        h2 Different examples and permutations

