!!! 5
html
  head
    title Simplify Play Button - #{title}
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    

    section#wrapper
        header
            h1 #{title}

        nav#toc
            ul
                li 
                    a What is this
                li 
                    a What is this
                li 
                    a What is this
                li 
                    a What is this
                li 
                    a What is this

        section#content
            block content
    
        block footer
          footer
            p Simplify Play Button - Add automated play button to your blog!

    block scripts
      script(src='/javascripts/jquery.js')

