!!!5
html
  head
    title Simplify Play Button - #{title}
    style
        html,body {
            margin: 0px; padding: 0px;
            width: 100%; height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%; height: 100%;
        }
  body
    block content