@font-face {
    font-family: 'Museo300';
    src: url('museo/museo-300-webfont.eot');
    src: url('museo/museo-300-webfont.eot?iefix') format('eot'),
         url('museo/museo-300-webfont.woff') format('woff'),
         url('museo/museo-300-webfont.ttf') format('truetype'),
         url('museo/museo-300-webfont.svg#webfontYfInUxMA') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('museo/museo-500-webfont.eot');
    src: url('museo/museo-500-webfont.eot?iefix') format('eot'),
         url('museo/museo-500-webfont.woff') format('woff'),
         url('museo/museo-500-webfont.ttf') format('truetype'),
         url('museo/museo-500-webfont.svg#webfontYfInUxMA') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url('museo/museo-700-webfont.eot');
    src: url('museo/museo-700-webfont.eot?iefix') format('eot'),
         url('museo/museo-700-webfont.woff') format('woff'),
         url('museo/museo-700-webfont.ttf') format('truetype'),
         url('museo/museo-700-webfont.svg#webfontYfInUxMA') format('svg');
    font-weight: normal;
    font-style: normal;

}

